.wrapper {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: var(--primary);
  border-radius: 1rem;
  h1 {
    color: var(--white);
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;


  label {
    color: var(--white);
  }
}

.login-btn {
  margin-top: 16px;
}