@import 'normalize.css';

:root {
  // primary variants
  --primary: #1a73e8;
  --black: #000;
  --white: #fff;
  --text-color: #161823;
  --blur-text-color: #7b809a;
  // Default layout
  --default-layout-header-height: 60px;
}

// Reset css
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
}

input,
button,
[tabindex] {
  outline: none;
  border: none;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, .06);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

// hide
.hide {
  display: none;
}

// form
.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

