.wrapper {
  position: relative;
  height: 100vh;
  background-color: #222;
}

.error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4;

  p {
    font-family: josefin sans, sans-serif;
    color: #c9c9c9;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.error-block {
  line-height: 153px;

  h1 {
    font-family: josefin sans, sans-serif;
    color: #222;
    font-size: 220px;
    letter-spacing: 10px;
    margin: 0;
    font-weight: 700;
    text-shadow: 2px 2px 0 #c9c9c9, -2px -2px 0 #c9c9c9;
  }

  h1>span {
    text-shadow: 2px 2px 0 #ffab00, -2px -2px 0 #ffab00, 0 0 8px #ff8700;
  }
}