.wrapper {
  position: relative;
}

// Parking lot item
.parking-lot {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  max-width: 360px;
}

.parking-lot__wrapper {
  display: flex !important;
  justify-content: center;
}

.parking-lot__img-wrapper {
  display: flex;
  justify-content: center;
  height: 180px;
  width: 360px;
  padding: 0 12px;
  margin-top: 12px;
}

.parking-lot__img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.parking-lot__information {
  margin-top: 16px;
  padding: 0 16px;
  .parking-lot__name {
    display: -webkit-box;
    height: 3.2rem;
    line-height: 3.2rem;
    font-weight: 600;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  
  .parking-lot__vehicles-quantity {
    color: green;
  }

  .full {
    color: red;
  }
  
  .parking-lot__address {
    display: -webkit-box;
    height: 4.8rem;
    line-height: 2.4rem;
    overflow: hidden;
    color: #8d8d8d;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .parking-lot__name,
  .parking-lot__vehicles-quantity,
  .parking-lot__address {
    margin-bottom: 0;
  }
}

.parking-lot__buttons {
  padding: 0 16px 24px;
}

.nothing {
  text-align: center;
}

.add-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 20px 20px 0;
  width: 46px;
  height: 46px;
  border-radius: 999px;
  background-color: #46ff46;
  color: var(--white);
}