// Header 
.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .header-nav {
    height: var(--default-layout-header-height);
  }

  .navbar-collapse {
    height: var(--default-layout-header-height);
    justify-content: flex-end;
    gap: 180px;
  }

  .navbar-nav {
    max-width: calc(100vw - 16px);
  }

}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 14px;
  cursor: pointer;
}

// Brand
.brand {
  display: flex;
  align-items: center;

  .logo-link {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--default-layout-header-height);
    width: var(--default-layout-header-height);
  }

  .logo {
    color: var(--white);
    font-size: 4rem;
  }

  span {
    font-size: 2rem;
  }
}

// Nav item
.nav-item {
  padding: 12px 12px;
  width: 100%;
  background-color: var(--black);
  &:hover {
    background-color: var(--white);
    .nav-link {
      color: var(--black);
    }
  }
  .nav-link {
    color: var(--white);
  }
}

.account-btn {
  width: 100%;
  background-color: var(--black);
}
