.search,
.search-result {
  width: 500px;
}

.search {
  position: relative;
  height: var(--search-height);
  padding-left: 16px;
  display: flex;
  background-color: var(--white);
  border-radius: var(--search-border-radius);

  input {
    height: 100%;
    flex: 1;
    color: var(--black);
    font-size: 1.6rem;
    font-family: var(--font-family);
    caret-color: var(--primary);
    background-color: transparent;
  }

  input:not(:placeholder-shown)~.search-btn {
    color: rgb(22, 24, 35);
  }

  &::after {
    content: '';
    position: absolute;
    top: var(--search-spacer);
    right: var(--search-button-width);
    height: calc(var(--search-height) - var(--search-spacer) * 2);
    width: 1px;
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:focus-within {
    outline: 1px solid rgba(22, 24, 35, 0.2);
  }
}

.search-title {
  font-size: 1.4rem;
  padding: 5px 12px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
  position: absolute;
  right: calc(var(--search-button-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6rem;
  color: rgba(22, 24, 35, 0.34);
  background-color: var(--white);
}

.loading {
  animation: spinner .8s linear infinite;
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }

  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--search-button-width);
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);
  background-color: var(--white);

  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.03);
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}

// parking lots search result
.parking-lot-item {
  padding: 0 12px;
  cursor: pointer;

  &:hover {
    background: #f6f6f6;
  }

  .parking-lot-name {
    line-height: 2rem;
    padding-top: 12px;
    font-size: 2rem;
    font-weight: 600;
  }

  .parking-lot-address {
    color: #969696;
  }
}


