.container {
  margin-top: var(--default-layout-header-height);

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--default-layout-header-height));
  padding: 1rem 0.5rem;
  background-color: #ccc;
}

// Header 
.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .header-nav {
    height: var(--default-layout-header-height);
    background-color: #fff;
  }

  .navbar-collapse {
    height: var(--default-layout-header-height);
    justify-content: flex-end;
  }

}

// Brand
.brand {
  display: flex;
  align-items: center;

  .logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--default-layout-header-height);
    width: var(--default-layout-header-height);
  }

  .logo {
    color: var(--black);
    font-size: 4rem;
  }

  span {
    font-size: 2rem;
  }
}

// Nav links
.nav-links {
  align-items: center;
}

.nav-link-item {
  font-weight: bold;
  color: var(--black) !important;
  opacity: .8;

  &:hover {
    opacity: 1;
  }

  .nav-icon {
    margin-right: 6px;
  }
}