// Header 
.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .header-nav {
    height: var(--default-layout-header-height);
    background-color: #fff;
  }

  .navbar-collapse {
    height: var(--default-layout-header-height);
    justify-content: flex-end;
  }

}

// Brand
.brand {
  display: flex;
  align-items: center;

  .logo-link {
    height: var(--default-layout-header-height);
    width: var(--default-layout-header-height);
  }
}

// Nav links
.nav-links {
  align-items: center;
}

.nav-link-item {
  font-weight: bold;
  color: var(--white) !important;
  opacity: .8;

  &:hover {
    opacity: 1;
  }

  .nav-icon {
    margin-right: 6px;
  }
}